.ux-problem-card__item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    border: grey solid 1px;
    border-radius: 8px;
    background: white;
}

.ux-problem-card__item {
    display: flex;
    justify-content: space-between;
}

.ux-problem-card__info-photo {
    width: 100px;
    flex-shrink: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ux-problem-card__info-main {
    flex-grow: 1;
    flex-wrap: wrap;
    overflow: hidden;
    white-space: normal;
}

.ux-problem-card__info-rate {
    padding-top: 12px;
    width: 100px;
    flex-shrink: 0;
}
