.ux-current-problem__avatar-container {
    display: flex;
    justify-content: center;
}

.ux-current-problem__suggest-container {
    color: green;
    font-size: 28px;
    display: flex;
    justify-content: center;
}
